<div class="bg-black text-center mobile-block-desktop-flex">
  <div class="bold text-white mobile-block-desktop-flex">
    <a class="" href="#">Work ></a>
    <a class="" href="#">Resume ></a>
  </div>
  <div class="socials mobile-block-desktop-flex">
    <a class="" href="https://www.instagram.com/selindeniseacar/"><img src="../../assets/images/ig.svg" alt="selin's instagram"></a>
    <a class="" href="https://www.linkedin.com/in/selinacar/"><img src="../../assets/images/in.png" alt="selin's linkedin"></a>
    <a class="" href="https://github.com/sacar2"><img src="../../assets/images/gh.png" alt="selin's github"></a>
  </div>
</div>
<div class="bg-pink text-center">
  <app-selin-heading class="small-heading selin-footer"></app-selin-heading>
  <small>designed+coded by Selin w/💃🏾</small>
</div>