<div class="text-center padding-top-bottom-150" id="about">
  <h2 class="label-title">About Me...</h2>
  <p>🏡Toronto born+raised.</p>
  <p>👩🏻‍🎓Bachelor of Engineering Science in Software Engineering from Western University 2017</p>
  <p>😍 I love art+design, hanging out with friends, trying new things, being outside, travel, and being in tech.</p>
  <p>😏 Interests include iOS, UX, VR, the hope of improving lives, learning, and changing things up every now and then.</p>
  <p>👩🏻‍💻skills = &#123; iOS, Swift, HTML, CSS, UX, Software Documentation, critiquing &#125;</p>
</div>