.vh-100{
    height:100vh;
    top: 0;
}

.vh-80{
    height: 80vh;
}

.yellow-path{
    left:0;
    margin-top: -10vh;
    background-size: cover;
    background-image: url("../../assets/images/yellowBackgroundPath.svg");
}

.internal-links{
    a:nth-child(1){
        

        @media screen and (min-width: 400px){
            left: 10vw;
        }
        @media screen and (min-width: 702px){
            top: 10vh;
        }
    }

    a:nth-child(2){
        left: 20vw;
        top: 15vh;

        @media screen and (min-width: 400px){
            left: 30vw;
        }
        @media screen and (min-width: 702px){
            top: 30vh;
        }
    }

    a:nth-child(3){
        left: 40vw;
        top: 30vh;
        @media screen and (min-width: 400px){
            left: 50vw;
        }
        @media screen and (min-width: 702px){
            top: 50vh;
        }
    }
}

.header-nav{
    top: 30vh;
    width:100vw;
    height: 70vh;
    @media screen and (min-height: 600px){
            
    }
    @media screen and (min-width: 702px){
        top: 15vh;
    }
}

.bottom-0{
    bottom: 0;
}

.absolute{
    position: absolute;
}