
<div class="background-pink vh-100">
  <app-selin-heading class="selin-header"></app-selin-heading>
  <div class="yellow-path vh-80"></div>
  <img src="../../assets/images/selins head.svg" class="absolute" id="selinshead">
  <img src="../../assets/images/laptop.svg" class="absolute" id="selinslaptop">
  <nav class="absolute header-nav">
    <div class="internal-links absolute black bold">
      <a href="#about">about ></a>
      <a href="#">projects ></a>
      <a href="{{resumeLink}}" target="_blank">resume ></a>
    </div>
    <div class="socials right bottom-0 right absolute red-hover">
        <a class="block padding-2vh-5vw" href="{{resumeLink}}" target="_blank"><img src="../../assets/images/resume.png" alt="selin's resume"></a>
        <a class="block padding-2vh-5vw" href="https://www.instagram.com/selindeniseacar/"><img src="../../assets/images/ig.svg" alt="selin's instagram"></a>
        <a class="block padding-2vh-5vw" href="https://www.linkedin.com/in/selinacar/"><img src="../../assets/images/in.png" alt="selin's linkedin"></a>
        <a class="block padding-2vh-5vw" href="https://github.com/sacar2"><img src="../../assets/images/gh.png" alt="selin's github"></a>
    </div>
  </nav>
</div>